img {
  max-width: 100%;
}

/* Code Under This Line */
.first {
  border: 10px solid red;
}

.second {
  border: 10px dashed blue;
}
.third {
  border-left: 10px solid green;
}

.flag {
  border-top: 5px solid red;
  border-bottom: 5px solid red;
  border-left: 5px solid blue;
  border-right: 5px solid blue;
}
